<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact James</title>
    <link rel="icon" href="../images/jbicon.ico">
    <link rel="icon" href="../images/jbicon.ico">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/navigation_bar.css">
    <link rel="stylesheet" href="../css/background.css">
    <link rel="stylesheet" href="../css/contact_me.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg sticky navbar-dark bg-mine">
          <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="../view/empl_hist.html">Employment History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="../view/hobbies.html">Hobbies</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="../view/contact_me.html">Contact Me</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h2 id="title_header">Contact Me</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-auto align-self-start">
          <table class="table table-dark">
            <tr>
                <td><strong>Email: </strong></td>
                <td>jamesbrownre1@gmail.com</td>
            </tr>
            <tr>
                <td><strong>Phone: </strong></td>
                <td>You have to email me for that..</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="container-fluid">
        <form class="" action="mailto:jamesbrownre1@gmail.com" method="post" enctype="text/plain">
          <div class="row ">
            <div class="col-md-1">
              <label id="form_title">Your Name: </label>
            </div>
            <div class="col-md-auto">
              <input type="text" name="contact_name" value="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              <label id="form_title">Your Email: </label>
            </div>
            <div class="col-md-auto">
              <input type="email" name="contact_email" value="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-auto">
              <label id="form_title">Message: </label>
              <br>
              <textarea name="contact_message" rows="10" cols="30"></textarea>
              <br>
              <input type="submit" name="" id="submit_button">
            </div>
          </div>
        </form>
    </div>
    <script type="text/javascript" src="../js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../js/navigation.js"></script>
    <script type="text/javascript" src="../js/bootstrap.bundle.js"></script>
  </body>
</html>
