<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title id="title_header">Employment History</title>
    <link rel="icon" href="../images/jbicon.ico">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/navigation_bar.css">
    <link rel="stylesheet" href="../css/background.css">
    <link rel="stylesheet" href="../css/empl_hist.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg sticky navbar-dark bg-mine">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="../view/empl_hist.html">Employment History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="../view/hobbies.html">Hobbies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="../view/contact_me.html">Contact Me</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="container-fluid">
        <h2 id="title_header">Employment History</h2>
    </div>
    <div class="container-fluid">
        <table class="table table-dark">
          <h3 id="title_header">Civilian</h3>
          <thead>
            <th scope="col">Employer</th>
            <th scope="col">Position</th>
            <th scope="col">Dates</th>
          </thead>
          <tbody>
            <tr>
                <td>Stanley Black & Decker/Pacom Systems</td>
                <td>Technical Support Engineer</td>
                <td>July 6th, 2020 - Current</td>
            </tr>
            <tr>
                <td>Security Local and Safe</td>
                <td>Access Control/CCTV system technician and Locksmith</td>
                <td>August 11th, 2016 - July 3rd, 2020</td>
            </tr>
            <tr>
                <td>Crown Bath Inc.</td>
                <td>Bath Tub repair Technician</td>
                <td>May 15th, 2016 - July 7th, 2016</td>
            </tr>
            
          </tbody>
        </table>
    </div>
    <div class="container-fluid">
      <table class="table table-dark">
        <h3 id="title_header">U.S. Navy</h3>
        <thead>
          <th scope="col">Employer</th>
          <th scope="col">Position</th>
          <th scope="col">Dates</th>
        </thead>
        <tbody>
          <tr>
              <td>Mid-Atlantic Regional Maintenance Center</td>
              <td>Lock and Printing Shop LPO</td>
              <td>Mar 11th, 2014 - Feb 29th 2016</td>
          </tr>
          <tr>
              <td>USNS Comfort</td>
              <td>O2N2 Technician/Lock shop LPO</td>
              <td>Sept 2nd, 2011 - Dec 5th, 2013</td>
          </tr>
          <tr>
              <td>USS Nassau</td>
              <td>Bath Tub repair Technician</td>
              <td>Dec 7th, 2007 - Mar 15th, 2009</td>
          </tr>
          <tr>
            <td>USS Kittyhawk</td>
            <td>Maintenance Technician</td>
            <td>Sept 7th, 2004 - Nov 7th, 2007</td>
          </tr>
          
        </tbody>
      </table>
    </div>
    
    <script type="text/javascript" src="../js/bootstrap.bundle.js"></script>
  </body>
</html>
